*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF !important;
}

@font-face{
    font-family: BorisBlackBloxx;
    src: url(BorisBlackBloxx.ttf)
}

/** NAVBAR */

.navbar {
    background-color: transparent;
    margin-top: 1rem;
    margin-left: 1.2cm;
    margin-right: 1.2cm;
}

.navbar-toggler {
    color:#FFF !important;
    border-color: #FFF !important;
}

a {
    color: rgb(196, 196, 196);
}

a:hover {
    color: rgb(136, 136, 136) !important;
}

.logoNavbar {
    height: 45px;
    width: auto;
}

.buttomNav {
    background-color: #FFF !important;
    margin-left: 2rem;
    border-style: solid;
    border-color: #FFF;
    border-width: 3px !important;
    border-radius: 7px !important;
    align-items: center;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.buttomNavLet {
    font-family: Barlow;
    font-size: 15pt;
    font-weight: 800;
    letter-spacing: 0px;
    background: linear-gradient(90deg, rgba(92, 198, 236, 1) 20%, rgba(192, 128, 247, 1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-wrap: break-word;
    margin-bottom: 0px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;

}

.buttomNav2 {
    border: double 3px transparent !important;
    border-radius: 7px !important;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #35e1e8, #dd6bfa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-left: 2rem;
    align-items: center;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.container1 {
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    border-width: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    padding-bottom: 1rem;
}

.container2 {
    border-bottom-color: rgb(177, 177, 177);
    border-bottom-style: solid;
    border-width: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    padding-bottom: 1rem;
}

/** HOME */


.img1 {
    width: 100%;
    height: 750px;
    display: flex;
    z-index: 0;
    position: absolute;
}

.containerHome {
    height: 750px;
}

.home1 {
    z-index: 1;
    position: relative;
    display: flex;
    max-width: 1000px !important;
    margin-right: 0px !important;
    margin-left: -50px !important;
}

.text1 {
    z-index: 1;
    position: relative;
    width: 60%;
    margin-top: 256px !important;
}

.text2 {
    z-index: 1;
    position: relative;
    width: 77%;
    margin-top: -7px;
}

.text3 {
    font-family: Barlow;
    font-weight: 700;
    font-size: 16.5pt;
    line-height: 28px;
    color: #434244;
    z-index: 1;
    position: relative;
    margin-left: 4px;
    margin-top: 18px !important;
}

.buttomHome {
    font-family: BorisBlackBloxx;
    font-size: 19pt;
    letter-spacing: 1px;
    color: #FFF;
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem !important;
    background: #ec6b76;
    border-radius: 35px;
    margin-top: 30px !important;
    margin-left: 12px !important;
    width: 350px !important;
}

/** INFO1 */


.info1 {
    background: #FFF;
    height: 750px;
}

.info2 {
    z-index: 1;
    position: relative;
    display: flex;
    max-width: 1000px !important;
    margin-right: 0px !important;
    margin-left: -50px !important;
}

.imgInfo1 {
    width: 100%;
    height: 750px;
    display: flex;
    z-index: 0;
    position: absolute;
}

.textInfo1 {
    font-family: BorisBlackBloxx;
    font-size: 46pt;
    font-weight: 800;
    letter-spacing: 1.5px;
    line-height: 65px;
    background: linear-gradient(90deg, rgba(53, 225, 232, 1) 10%, rgba(221, 107, 250, 1) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-wrap: break-word;
    margin-top: 210px !important;
    z-index: 1;
}

.textInfo2 {
    font-family: Barlow, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 27pt;
    letter-spacing: -1px;
    color:#FFF;
    z-index: 1;
    margin-left: 3px;
}

.textInfoborder {   
    -webkit-text-stroke: 2px #4b4b4b;
    color: transparent;   
}

.textInfo3 {
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-size: 17pt;
    font-style: normal;
    color: #434244;
    margin-top: 15px !important;
    margin-left: 2px;
    z-index: 1;
}

.buttomInfo1 {
    font-family: BorisBlackBloxx;
    font-size: 19pt;
    letter-spacing: 1px;
    width: 450px!important;
    color: #FFF;
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem !important;
    background: #b456cc;
    border-radius: 35px;
    margin-top: 60px !important;
    margin-left: 0px !important;
    z-index: 1;
}


/** INFO2 */

.info2-1{
    background: #FFF;
    height: 750px;
}
.textInfo2-1 {
    font-family: BorisBlackBloxx;
    font-size: 44.55pt;
    font-weight: 800;
    letter-spacing: 1.5px;
    line-height: 65px;
    background: linear-gradient(90deg, rgba(53, 225, 232, 1) 10%, rgba(221, 107, 250, 1) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-wrap: break-word;
    margin-top: 205px !important;
    z-index: 1;
}

.textInfo2-2 {
    font-family: Barlow;
    font-weight: 800;
    font-size: 21.5pt;
    color: #434244;
    line-height: 35px;
    margin-left: 8px;
    margin-top: 15px !important;
}

.textInfo2-3 {
    font-family: Barlow;
    font-weight: 600;
    font-size: 17.2pt;
    color: #434244;
    line-height: 28px;
    margin-left: 8px;
}

.imgInfo2 {
    margin-left: -10px;
    margin-top: 40px !important;
    width: 90%;
}

/** INFO3 */

.info3 {
    background: #FFF;
    height: 750px;
}

.imgInfo3 {
    width: 100%;
    height: 750px;
    display: flex;
    z-index: 0;
    position: absolute;
}

.textInfo3-2 {
    font-family: BorisBlackBloxx, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 45pt;
    letter-spacing: -2.8px;
    color: transparent;
    z-index: 1;
    margin-left: 3px;
    position: relative;
    text-align: center;
}

.textInfoborder2 {   
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
}

.imgLogo2 {
    z-index: 1;
    position: relative;
    width: 72%;
    margin-top: -40px !important;
}

.imgLogo2-align {
    text-align: center;
}

.rowInfo3 {
    height: 375px;
    align-items:flex-end;
}

.rowInfo3-1 {
    align-items:baseline;
}

/** INFO4 */

.info4 {
    height: 750px;
    background: #FFF;
}

.imgInfo4-1 {
    width: 100%;
    height: 750px;
    display: flex;
    z-index: 0;
    position: absolute;
    margin-top: 0px;
}

.imgInfo4-2 {
    width: auto;
    height: 170px;
    border-radius:150px !important;
    box-shadow: -4px 0px 20px rgb(179, 179, 179);
    margin-top: 160px !important;
    margin-left: 20px;
    position: relative;
    z-index: 1;
}

.imgInfo4-3 {
    width: auto;
    height: 170px;
    border-radius:150px !important;
    box-shadow: -4px 0px 20px rgb(179, 179, 179);
    margin-top: 5px !important;
    margin-left: 20px;
    position: relative;
    z-index: 1;
}

.textInfo4-1 {
    font-family: Barlow;
    font-size: 18pt;
    font-weight: 500;
    line-height: 28px;
    position: relative;
    border-width: 4px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #60c4ed;
    margin-top: 175px !important;
    padding-left: 0px !important;
    padding-bottom: 20px;
}

.textInfo4-2 {
    font-family: Barlow;
    font-size: 18pt;
    font-weight: 500;
    line-height: 28px;
    position: relative;
    margin-top: 20px !important;
    padding-left: 0px !important;
}

.buttomInfo4 {
    font-family: BorisBlackBloxx;
    font-size: 13pt;
    letter-spacing: 1px;
    text-shadow: -1px 2px 3px rgb(112, 112, 112) !important;
    color: #FFF;
    text-align: center;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background: #60c4ed;
    border-radius: 35px;
    position: relative;
    margin-top: 60px !important;
    width: 350px;
}

.EspInfo4 {
    display: flex;
    justify-content: end;
}

/** INFO5 */

.info5 {
    height: 750px;
    background: #FFF;
}

.container3 {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 100px !important;
    max-width: 1300px !important;
}

.imgInfo5-1 {
    width: 100%;
    height: 750px;
    display: flex;
    z-index: 0;
    position: absolute;
    margin-top: 0px;
}

.textInfo5-1 {
    font-family: BorisBlackBloxx;
    font-size: 31pt;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 65px;
    background: linear-gradient(90deg, rgba(53, 225, 232, 1) 10%, rgba(221, 107, 250, 1) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-wrap: break-word;
    margin-top: 120px !important;
    margin-left: 20px;
    z-index: 1;
}

.imgInfo5-2 {
    width: auto;
    height: 115px;
    border-radius:150px !important;
    box-shadow: -4px 0px 20px rgb(179, 179, 179);
    margin-top: 30px !important;
    margin-bottom: 15px;
    margin-left: -10px;
    position: relative;
    z-index: 1;
}

.textInfo5-2 {
    font-family: Barlow;
    font-size: 14.1pt;
    font-weight: 700;
    position: relative;
    margin-left: 5px;
    margin-top: 40px !important;
    text-align: left;
}

.barInfo5 {
    height: 3px;
    width: auto;
    background: linear-gradient(90deg, rgba(53, 225, 232) 0%, rgba(221, 107, 250) 100%);
    position: relative;
}

.textInfo5-3 {
    font-family: Barlow;
    font-size: 11pt;
    font-weight: 600;
    position: relative;
    margin-left: 5px;
    margin-top: 5px !important;

}


/** INFOFINAL */

.infoFinal {
    height: 750px;
    background: #FFF;
}

.imgInfoFinal1 {
    position: relative;
    width: 55% !important;
    margin-top: 180px !important;
}

.imgSpaceFinal {
    text-align: center;
}

.buttomInfo5 {
    color: #FFF;
    text-align: center;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background: rgba(0, 238, 255, 0.3);
    border-radius: 60px;
    position: relative;
    margin-top: 25px !important;
    width: 930px !important;
    box-shadow: -2px 0px 29px rgba(0, 0, 0,0.1);
}

.textInfoFinal1 {
    font-family: Barlow, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 80pt;
    letter-spacing: -2.8px;
    color: transparent;
    z-index: 1;
    margin-top: 25px !important;
    position: relative;
    text-align: center;
    text-shadow: -2px 0px 29px rgba(0, 0, 0,0.15);
}

.buttomInfo6 {
    font-family: BorisBlackBloxx;
    font-size: 19pt;
    letter-spacing: 1px;
    color: #FFF;
    text-align: center;
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
    background: #2babdf;
    border-radius: 50px;
    position: relative;
    margin-top: 40px !important;
    width: 330px !important;
}

.textInfoborder3 {   
    -webkit-text-stroke: 4px #ffffff;
    color: transparent;
}

.textInfoFinal2 {
    font-family: Barlow;
    font-size: 22pt;
    font-weight: 700;
    line-height: 38px;
    color: #393939;
    text-align: left !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

@media screen and (max-width: 990px) {

    /** NAVBAR */

    .buttomNav {
        display: flex;
        width: 200px !important;
        background-color: #FFF !important;
        margin-left: 2rem;
        border-style: solid;
        border-color: #FFF;
        border-width: 0px !important;
        border-radius: 7px !important;
        align-items: center;
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-bottom: 2px !important;
    }
    
    .buttomNav2 {
        border: double 3px transparent !important;
        border-radius: 7px !important;
        background-image: linear-gradient(white, white), radial-gradient(circle at top left, #35e1e8, #dd6bfa);
        background-origin: border-box;
        background-clip: content-box, border-box;
        margin-left: 2rem;
        align-items: center;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    
    /** HOME */
    
    .home1 {
        z-index: 1;
        position: relative;
        display: flex;
        margin-right: 0px !important;
        margin-left: 0px !important;
    
    }
    
    .text1 {
        z-index: 1;
        position: relative;
        width: 75%;
        margin-top: 256px !important;
    }
    
    .text2 {
        z-index: 1;
        position: relative;
        width: 100%;
        margin-top: -7px;
    }
    
    .text3 {
        font-family: Barlow;
        font-weight: 700;
        font-size: 15pt;
        line-height: 28px;
        color: #434244;
        z-index: 1;
        position: relative;
        margin-left: 4px;
        margin-top: 18px !important;
        text-align: center;
    }
    
    .buttomHome {
        font-family: BorisBlackBloxx;
        font-size: 19pt;
        letter-spacing: 1px;
        color: #FFF;
        text-align: center;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem !important;
        background: #ec6b76;
        border-radius: 35px;
        margin-top: 30px !important;
        margin-left: 12px !important;
    }

    .EspMain1 {
        justify-content: center;
        display: flex;
    }

    /** INFO1 */
    
    .info2 {
        z-index: 1;
        position: relative;
        display: flex;
        max-width: 1000px !important;
        margin-right: 0px !important;
        margin-left: -20px !important;
    }
    
    .textInfo1 {
        font-family: BorisBlackBloxx;
        font-size: 35pt;
        font-weight: 800;
        letter-spacing: 1.5px;
        line-height: 65px;
        background: linear-gradient(90deg, rgba(53, 225, 232, 1) 10%, rgba(221, 107, 250, 1) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        word-wrap: break-word;
        margin-top: 130px !important;
        z-index: 1;
    }
    
    .textInfo2 {
        font-family: Barlow, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 23pt;
        letter-spacing: -1px;
        color:#FFF;
        z-index: 1;
        margin-left: 3px;
    }
    
    .textInfoborder {   
        -webkit-text-stroke: 2px #4b4b4b;
        color: transparent;   
    }
    
    .textInfo3 {
        font-family: myriad-pro, sans-serif;
        font-weight: 700;
        font-size: 15pt;
        font-style: normal;
        color: #434244;
        margin-top: 15px !important;
        margin-left: 2px;
        z-index: 1;
    }
    
    .buttomInfo1 {
        font-family: BorisBlackBloxx;
        font-size: 14pt;
        letter-spacing: 1px;
        width: 350px!important;
        color: #FFF;
        text-align: center;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem !important;
        background: #b456cc;
        border-radius: 35px;
        margin-top: 60px !important;
        margin-left: 10px !important;
        z-index: 1;
    }

    /** INFO2 */

    .textInfo2-1 {
        font-family: BorisBlackBloxx;
        font-size: 35pt;
        font-weight: 800;
        letter-spacing: 1.5px;
        line-height: 65px;
        background: linear-gradient(90deg, rgba(53, 225, 232, 1) 10%, rgba(221, 107, 250, 1) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        word-wrap: break-word;
        margin-top: 100px !important;
        z-index: 1;
    }

    .textInfo2-2 {
        font-family: Barlow;
        font-weight: 800;
        font-size: 18pt;
        color: #434244;
        line-height: 35px;
        margin-left: 4px;
        margin-top: 15px !important;
    }

    .textInfo2-3 {
        font-family: Barlow;
        font-weight: 600;
        font-size: 15pt;
        color: #434244;
        line-height: 28px;
        margin-left: 4px;
    }

    .imgInfo2 {
        margin-left: -10px;
        margin-top: 40px !important;
        width: 90%;
    }

    /** INFO3 */
    
    .textInfo3-2 {
        font-family: BorisBlackBloxx, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 28pt;
        letter-spacing: -2.4px;
        color: transparent;
        z-index: 1;
        margin-left: 3px;
        position: relative;
        text-align: center;
    }
    
    .imgLogo2 {
        z-index: 1;
        position: relative;
        width: 72%;
        margin-top: -40px !important;
    }
    
    /** INFO4 */

    .imgInfo4-2 {
        width: auto;
        height: 110px;
        border-radius:150px !important;
        box-shadow: -4px 0px 20px rgb(179, 179, 179);
        margin-top: 150px !important;
        margin-left: 20px;
        position: relative;
        z-index: 1;
    }

    .imgInfo4-3 {
        width: auto;
        height: 110px;
        border-radius:150px !important;
        box-shadow: -4px 0px 20px rgb(179, 179, 179);
        margin-top: 30px !important;
        margin-left: 20px;
        position: relative;
        z-index: 1;
    }

    .textInfo4-1 {
        font-family: Barlow;
        font-size: 12pt;
        font-weight: 500;
        line-height: 28px;
        position: relative;
        border-width: 4px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-style: solid;
        border-color: #60c4ed;
        margin-top: 130px !important;
        padding-left: 0px !important;
        padding-bottom: 20px;
    }

    .textInfo4-2 {
        font-family: Barlow;
        font-size: 12pt;
        font-weight: 500;
        line-height: 28px;
        position: relative;
        margin-top: 20px !important;
        padding-left: 0px !important;
    }

    .buttomInfo4 {
        font-family: BorisBlackBloxx;
        font-size: 10pt;
        letter-spacing: 1px;
        text-shadow: -1px 2px 3px rgb(112, 112, 112) !important;
        color: #FFF;
        text-align: center;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        background: #60c4ed;
        border-radius: 35px;
        position: relative;
        margin-top: 40px !important;
        width: 320px;
    }

    .EspInfo4 {
        display: flex;
        justify-content: center;
    }

    .EspInfo4-1 {
        max-width: 800px !important;
    }

    /** INFO5 */

    .textInfo5-1 {
        font-family: BorisBlackBloxx;
        font-size: 30pt;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 30px;
        background: linear-gradient(90deg, rgba(53, 225, 232, 1) 10%, rgba(221, 107, 250, 1) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        word-wrap: break-word;
        margin-top: 40px !important;
        margin-left: 10px;
        z-index: 1;
    }

    .imgInfo5-2 {
        width: auto;
        height: 90px;
        border-radius:150px !important;
        box-shadow: -4px 0px 20px rgb(179, 179, 179);
        margin-top: 30px !important;
        margin-bottom: 15px;
        margin-left: -10px;
        position: relative;
        z-index: 1;
    }

    .textInfo5-2 {
        font-family: Barlow;
        font-size: 14.1pt;
        font-weight: 700;
        position: relative;
        margin-left: 5px;
        margin-top: 40px !important;
        text-align: left;
    }

    .barInfo5 {
        height: 3px;
        width: auto;
        background: linear-gradient(90deg, rgba(53, 225, 232) 0%, rgba(221, 107, 250) 100%);
        position: relative;
    }

    .textInfo5-3 {
        font-family: Barlow;
        font-size: 10pt;
        font-weight: 600;
        position: relative;
        margin-left: 5px;
        margin-top: 5px !important;

    }

    /** INFOFINAL */

    .imgInfoFinal1 {
        position: relative;
        width: 65% !important;
        margin-top: 120px !important;
    }

    .buttomInfo5-1 {
        color: #FFF;
        text-align: center;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        background: rgba(0, 238, 255, 0.3);
        border-radius: 60px;
        position: relative;
        margin-top: 25px !important;
        width: 830px !important;
        box-shadow: -2px 0px 29px rgba(0, 0, 0,0.1);
    }

    .textInfoFinal1 {
        font-family: Barlow, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 70pt;
        letter-spacing: -2.8px;
        color: transparent;
        z-index: 1;
        position: relative;
        text-align: center;
        text-shadow: -2px 0px 29px rgba(0, 0, 0,0.15);
    }

    .buttomInfo6 {
        font-family: BorisBlackBloxx;
        font-size: 19pt;
        letter-spacing: 1px;
        color: #FFF;
        text-align: center;
        padding-top: 0.8rem !important;
        padding-bottom: 0.8rem !important;
        background: #2babdf;
        border-radius: 50px;
        position: relative;
        margin-top: 40px !important;
        width: 330px !important;
    }

    .textInfoborder3 {   
        -webkit-text-stroke: 4px #ffffff;
        color: transparent;
        align-items: center;
        display: flex;
    }

    .textInfoFinal2 {
        font-family: Barlow;
        font-size: 16pt;
        font-weight: 700;
        line-height: 38px;
        color: #393939;
        text-align: left !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
}

@media screen and (max-width: 768px) {

    /** INFO5 */

    .textInfo5-1 {
        font-family: BorisBlackBloxx;
        font-size: 28pt;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 30px;
        background: linear-gradient(90deg, rgba(53, 225, 232, 1) 10%, rgba(221, 107, 250, 1) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        word-wrap: break-word;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        margin-left: 10px;
        z-index: 1;
    }

    .imgInfo5-2 {
        width: auto;
        height: 60px;
        border-radius:150px !important;
        box-shadow: -4px 0px 20px rgb(179, 179, 179);
        margin-top: 0px !important;
        margin-bottom: 5px;
        margin-left: -10px;
        position: relative;
        z-index: 1;
    }

    .textInfo5-2 {
        font-family: Barlow;
        font-size: 12pt;
        font-weight: 700;
        line-height: 15px;
        position: relative;
        margin-left: 5px;
        margin-bottom: 2px !important;
        margin-top: 0px !important;
        text-align: left;
    }

    .barInfo5 {
        height: 3px;
        width: auto;
        background: linear-gradient(90deg, rgba(53, 225, 232) 0%, rgba(221, 107, 250) 100%);
        position: relative;
    }

    .textInfo5-3 {
        font-family: Barlow;
        font-size: 10pt;
        font-weight: 600;
        line-height: 15px;
        position: relative;
        margin-left: 5px;
        margin-top: 5px !important;
        margin-bottom: 8px !important;
    }

    /** INFOFINAL */

    .imgInfoFinal1 {
        position: relative;
        width: 65% !important;
        margin-top: 180px !important;
    }

    .buttomInfo5-1 {
        color: #FFF;
        text-align: center;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        background: rgba(0, 238, 255, 0.3);
        border-radius: 60px;
        position: relative;
        margin-top: 25px !important;
        width: 630px !important;
        box-shadow: -2px 0px 29px rgba(0, 0, 0,0.1);
    }

    .textInfoFinal1 {
        font-family: Barlow, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 50pt;
        letter-spacing: -2.8px;
        color: transparent;
        z-index: 1;
        position: relative;
        text-align: center;
        text-shadow: -2px 0px 29px rgba(0, 0, 0,0.15);
    }

    .buttomInfo6 {
        font-family: BorisBlackBloxx;
        font-size: 19pt;
        letter-spacing: 1px;
        color: #FFF;
        text-align: center;
        padding-top: 0.8rem !important;
        padding-bottom: 0.8rem !important;
        background: #2babdf;
        border-radius: 50px;
        position: relative;
        margin-top: 40px !important;
        width: 330px !important;
    }

    .textInfoborder3 {   
        -webkit-text-stroke: 4px #ffffff;
        color: transparent;
        align-items: center;
        display: flex;
    }

    .textInfoFinal2 {
        font-family: Barlow;
        font-size: 14pt;
        font-weight: 700;
        line-height: 30px;
        color: #393939;
        text-align: left !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
}

@media screen and (max-width: 600px) {

    /** INFO4 */

    .imgInfo4-2 {
        width: auto;
        height: 0px;
        border-radius:150px !important;
        box-shadow: -4px 0px 20px rgb(179, 179, 179);
        margin-top: 0px !important;
        margin-left: 20px;
        position: relative;
        z-index: 1;
    }

    .imgInfo4-3 {
        width: auto;
        height: 0px;
        border-radius:150px !important;
        box-shadow: -4px 0px 20px rgb(179, 179, 179);
        margin-top: 30px !important;
        margin-left: 20px;
        position: relative;
        z-index: 1;
    }

}

@media screen and (max-width: 500px) {

    /** NAVBAR */

    .logoNavbar {
        height: 25px;
        width: auto;
    }

    /** HOME */

    /** INFO1 */
    
    .info2 {
        z-index: 1;
        position: relative;
        display: flex;
        max-width: 1000px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    
    .textInfo1 {
        font-family: BorisBlackBloxx;
        font-size: 26pt;
        font-weight: 800;
        letter-spacing: 1.5px;
        line-height: 45px;
        background: linear-gradient(90deg, rgba(53, 225, 232, 1) 10%, rgba(221, 107, 250, 1) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        word-wrap: break-word;
        margin-top: 100px !important;
        z-index: 1;
    }
    
    .textInfo2 {
        font-family: Barlow, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 18pt;
        letter-spacing: -1px;
        color:#FFF;
        z-index: 1;
        margin-left: 3px;
        margin-top: 15px !important;
    }
    
    .textInfoborder {   
        -webkit-text-stroke: 2px #4b4b4b;
        color: transparent;   
    }
    
    .textInfo3 {
        font-family: myriad-pro, sans-serif;
        font-weight: 700;
        font-size: 13pt;
        font-style: normal;
        color: #434244;
        margin-top: 15px !important;
        margin-left: 2px;
        z-index: 1;
    }
    
    .buttomInfo1 {
        font-family: BorisBlackBloxx;
        font-size: 12pt;
        letter-spacing: 1px;
        width: 300px!important;
        color: #FFF;
        text-align: center;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem !important;
        background: #b456cc;
        border-radius: 35px;
        margin-top: 60px !important;
        margin-left: 0px !important;
        z-index: 1;
    }

    .EspInfo1 {
        justify-content: center;
        display: flex;
    }

    /** INFO2 */

    .textInfo2-1 {
        font-family: BorisBlackBloxx;
        font-size: 26pt;
        font-weight: 800;
        letter-spacing: 1.5px;
        line-height: 40px;
        background: linear-gradient(90deg, rgba(53, 225, 232, 1) 10%, rgba(221, 107, 250, 1) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        word-wrap: break-word;
        margin-top: 50px !important;
        z-index: 1;
    }

    .textInfo2-2 {
        font-family: Barlow;
        font-weight: 800;
        font-size: 16pt;
        color: #434244;
        line-height: 35px;
        margin-left: 4px;
        margin-top: 15px !important;
    }

    .textInfo2-3 {
        font-family: Barlow;
        font-weight: 600;
        font-size: 14pt;
        color: #434244;
        line-height: 28px;
        margin-left: 4px;
    }

    .imgInfo2 {
        margin-left: 0px;
        margin-top: 30px !important;
        width: 90%;
    }

    /** INFO3 */
    
    .textInfo3-2 {
        font-family: BorisBlackBloxx, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 20pt;
        letter-spacing: -2.4px;
        color: transparent;
        z-index: 1;
        margin-left: 3px;
        position: relative;
        text-align: center;
    }
    
    .imgLogo2 {
        z-index: 1;
        position: relative;
        width: 72%;
        margin-top: -40px !important;
    }

    /** INFO4 */

    .textInfo4-1 {
        font-family: Barlow;
        font-size: 14pt;
        font-weight: 500;
        line-height: 20px;
        position: relative;
        border-width: 4px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-style: solid;
        border-color: #60c4ed;
        margin-top: 60px !important;
        margin-left: 0px;
        padding-left: 0px !important;
        padding-bottom: 20px;
    }

    .textInfo4-2 {
        font-family: Barlow;
        font-size: 14pt;
        font-weight: 500;
        line-height: 20px;
        position: relative;
        margin-top: 20px !important;
        margin-left: 0px;
        padding-left: 0px !important;
    }

    .buttomInfo4 {
        font-family: BorisBlackBloxx;
        font-size: 10pt;
        letter-spacing: 1px;
        text-shadow: -1px 2px 3px rgb(112, 112, 112) !important;
        color: #FFF;
        text-align: center;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        background: #60c4ed;
        border-radius: 35px;
        position: relative;
        margin-top: 40px !important;
        width: 320px;
    }

    .EspInfo4 {
        display: flex;
        justify-content: center;
    }

    .EspInfo4-1 {
        max-width: 350px !important;
    }

    /** INFO5 */

    .textInfo5-1 {
        font-family: BorisBlackBloxx;
        font-size: 24pt;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 30px;
        background: linear-gradient(90deg, rgba(53, 225, 232, 1) 10%, rgba(221, 107, 250, 1) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        word-wrap: break-word;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        margin-left: 10px;
        z-index: 1;
    }

    .imgInfo5-2 {
        width: auto;
        height: 60px;
        border-radius:150px !important;
        box-shadow: -4px 0px 20px rgb(179, 179, 179);
        margin-top: 0px !important;
        margin-bottom: 5px;
        margin-left: -10px;
        position: relative;
        z-index: 1;
    }

    .textInfo5-2 {
        font-family: Barlow;
        font-size: 12pt;
        font-weight: 700;
        line-height: 15px;
        position: relative;
        margin-left: 5px;
        margin-bottom: 2px !important;
        margin-top: 0px !important;
        text-align: left;
    }

    .barInfo5 {
        height: 3px;
        width: auto;
        background: linear-gradient(90deg, rgba(53, 225, 232) 0%, rgba(221, 107, 250) 100%);
        position: relative;
    }

    .textInfo5-3 {
        font-family: Barlow;
        font-size: 10pt;
        font-weight: 600;
        line-height: 15px;
        position: relative;
        margin-left: 5px;
        margin-top: 5px !important;
        margin-bottom: 8px !important;
    }

    /** INFOFINAL */

    .imgInfoFinal1 {
        position: relative;
        width: 65% !important;
        margin-top: 180px !important;
    }

    .buttomInfo5-1 {
        color: #FFF;
        text-align: center;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        background: rgba(0, 238, 255, 0.3);
        border-radius: 60px;
        position: relative;
        margin-top: 25px !important;
        width: 630px !important;
        box-shadow: -2px 0px 29px rgba(0, 0, 0,0.1);
    }

    .textInfoFinal1 {
        font-family: Barlow, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 37pt;
        letter-spacing: -2.8px;
        color: transparent;
        z-index: 1;
        position: relative;
        text-align: center;
        text-shadow: -2px 0px 29px rgba(0, 0, 0,0.15);
    }

    .buttomInfo6 {
        font-family: BorisBlackBloxx;
        font-size: 18pt;
        letter-spacing: 1px;
        color: #FFF;
        text-align: center;
        padding-top: 0.8rem !important;
        padding-bottom: 0.8rem !important;
        background: #2babdf;
        border-radius: 50px;
        position: relative;
        margin-top: 40px !important;
        width: 330px !important;
        box-shadow: 0px 0px 29px rgba(0, 0, 0,0.5);
    }

    .textInfoborder3 {   
        -webkit-text-stroke: 3px #ffffff;
        color: transparent;
        align-items: center;
        display: flex;
    }

    .textInfoFinal2 {
        font-family: Barlow;
        font-size: 12pt;
        font-weight: 700;
        line-height: 25px;
        color: #393939;
        text-align: left !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
}